  root '{{feature_config.document_root}}';
  index '{{feature_config.index}}';
  {% if feature_config.php is defined and features_config.php %}
  location ~ /$ {
    try_files $uri /index.php =404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }
  {% else %}
  location ~ .*\.(php|bak)$ {
    deny all;
    access_log off;
    log_not_found off;
  }
  {% endif %}
